<div class="container">
    {{>aside}}
</div>
<div class="content">
    <div class="menuBar">
        <ul>
            <li><a href="/" class="arrow"><svg role="img" height="24" width="24"
                        class="Svg-sc-1bi12j5-0 jgfuCe IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24">
                        <path
                            d="M15.957 2.793a1 1 0 010 1.414L8.164 12l7.793 7.793a1 1 0 11-1.414 1.414L5.336 12l9.207-9.207a1 1 0 011.414 0z">
                        </path>
                    </svg></a></li>
            <li><a href="/create" class="arrow"><svg role="img" height="24" width="24"
                        class="Svg-sc-1bi12j5-0 jgfuCe IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24">
                        <path
                            d="M8.043 2.793a1 1 0 000 1.414L15.836 12l-7.793 7.793a1 1 0 101.414 1.414L18.664 12 9.457 2.793a1 1 0 00-1.414 0z">
                        </path>
                    </svg></a></li>
        </ul>
        <div class="perfil">foto</div>
    </div>
    <div class="introduction">
        <div class="menuItem subItem" id="gradient"><svg role="img" height="70" width="70" aria-hidden="true"
                viewBox="0 0 16 16" class="Svg-sc-1bi12j5-0 jgfuCe">
                <path
                    d="M15.724 4.22A4.313 4.313 0 0012.192.814a4.269 4.269 0 00-3.622 1.13.837.837 0 01-1.14 0 4.272 4.272 0 00-6.21 5.855l5.916 7.05a1.128 1.128 0 001.727 0l5.916-7.05a4.228 4.228 0 00.945-3.577z"
                    fill="#FFF"></path>
            </svg></div>
        <div class="textDiv">
            <p class="textItem">Playlist</p>
            <p class="textItem">Músicas Curtidas</p>
            <p class="textItem">618 músicas</p>
        </div>
    </div>
    <div class="list">
        <div class="infos">
            <button class="pause">
                <svg height="30" width="30" viewBox="0 0 24 24" class="playIcon">
                    <path
                        d="M7.05 3.606l13.49 7.788a.7.7 0 010 1.212L7.05 20.394A.7.7 0 016 19.788V4.212a.7.7 0 011.05-.606z">
                    </path>
                </svg>
                <svg width="110" height="110" viewBox="-1 0 67 66" class="pauseIcon inactive">
                    <path
                        d="M27.9,21h-3.7c-0.6,0-1.1,0.5-1.1,1.1v22.8c0,0.6,0.5,1.1,1.1,1.1h3.7c0.6,0,1.1-0.5,1.1-1.1V22.1 C29,21.5,28.5,21,27.9,21zM40.9,21h-3.7c-0.6,0-1.1,0.5-1.1,1.1v22.8c0,0.6,0.5,1.1,1.1,1.1h3.7c0.6,0,1.1-0.5,1.1-1.1V22.1 C42,21.5,41.5,21,40.9,21z">
                    </path>
                </svg>
            </button>
        </div>
        <div class="descriptionMusic">
            <div class="line description">
                <div class="box"><span style="margin-right: 2vh;">#</span>Título</div>
                <div class="box">Álbum</div>
                <div class="box last"><span>Adicionado em</span> <span><svg role="img" height="16" width="16"
                            viewBox="0 0 16 16" class="Svg-sc-1bi12j5-0 jgfuCe">
                            <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z">
                            </path>
                            <path d="M8 3.25a.75.75 0 01.75.75v3.25H11a.75.75 0 010 1.5H7.25V4A.75.75 0 018 3.25z">
                            </path>
                        </svg></span></div>
            </div>
                
               {{#each mus}}
                    {{>music title = title artist = artist album = album _id=_id}}
                    
               {{/each}}

               
              
            </div>
        </div>

