:root {
    --primaryColor : #000;
    --secundaryColor : #FFF;
    --fontColor: #B3B3B3;
    --marginBetween: 2.5vh 0px;
    --contentSpace:  2vh 5vh 5vh 5vh;
    --contentLateral: 0 5vh;
    --greenSpo:#1FDF64
}

@font-face {
    font-family: "Gotham";
    src: url('../fonts/Gotham-Font/GothamBold.ttf');
}

@font-face {
    font-family: "Gotham-light";
    src: url('../fonts/Gotham-Font/Gotham-Light.otf');
}
* { margin: 0; padding: 0; font-size: 15px; font-weight: 100; font-style: normal; text-decoration: none;}
body {
    color: var(--fontColor);
    fill: var(--fontColor);
    font-family: Gotham;
}

.aside {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: var(--primaryColor);
}
.contentAside {
    padding: 3vh 4vh 1vh 3vh;
}
.aside h1 {
    color: var(--secundaryColor);
    font-size: 4vh;
}
.aside .logo {
    width: 17vh;
}


.primaryMenu {
    list-style-type: none;
    margin: 5vh 0;
}

.primaryMenu li a, .secundaryMenu li a, .playlistMenu li a, .installApp a {
    margin: var(--marginBetween);
    display: flex;
    align-items: center;
    color: var(--fontColor);
    fill: var(--fontColor);
}
.playlistMenu li a {
    padding-top: 1.5vh;
    margin: 0;
    font-size: 12px;
}
.primaryMenu li a:hover, .playlistMenu li a:hover, .installApp a:hover{
    color: var(--secundaryColor);
    fill: var(--secundaryColor);
}
.secundaryMenu li a:hover {
    color: var(--secundaryColor);
}

.secundaryMenu .menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--fontColor);
    border-radius: 4px;
}

.maxOpacity {
    opacity: 0.6;
}
.secundaryMenu li:hover .menuItem {
    background-color: var(--secundaryColor);
    opacity: 1;
}


#gradient {
    background:linear-gradient(45deg, rgb(71, 13, 245) 0%, rgba(255,255,255) 100%)
}
.textMenu {
    margin-left: 2vh;
}

.secundaryMenu, .playlistMenu {
    list-style-type: none;
}
.secundaryMenu {
    border-bottom: 1px solid rgb(179, 179, 179,0.3);
}

.playlistMenu {
    overflow: auto;
    height: 20vh;
    padding: 2vh 0;

}
.playlistMenu::-webkit-scrollbar {
    background-color: var(--primaryColor);
}
.playlistMenu::-webkit-scrollbar-thumb {
    background-color: #4D4D4D;}
.playlistMenu::-webkit-scrollbar-thumb:hover {
    background-color: var(--fontColor);}


.installApp a{
    margin-bottom: 0;
}

.container {
    display: flex;
    
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}

.content {
    margin-left: 250px;
    flex: 1;
    color: var(--secundaryColor);
    background: linear-gradient(180deg, rgba(81,58,158,1) 1%, rgba(41,29,81,1) 50%);
   
}

   
.menuBar {
    display: flex;
    justify-content: space-between;
    margin: var(--contentSpace);
}
.menuBar ul {
    display: flex;
    list-style-type: none;
}
.menuBar .arrow {
    fill:var(--fontColor);
    background-color: rgba(0, 0, 0,0.5);
    width: 33px;
    height: 33px;
    margin-right: 2vh;
    border-radius: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.introduction {
    margin: var(--marginBetween);
    margin-top: 5vh;
    display: flex;
    align-items: flex-end;
    padding: var(--contentLateral);
    font-size: 90px;

}
.textDiv {
    margin-left: 3vh;
}

.subItem {
    background: linear-gradient(147deg, rgba(63,19,185,1) 2%, rgba(123,145,135,1) 99%)!important;
    padding: 80px!important;
    box-shadow: 0 0 12px rgba(0, 0, 0,0.5);
}
.textItem {
    margin: var(--marginBetween);
}
.textItem:nth-child(1) {
    text-transform: uppercase;
}
.textItem:nth-child(2) {
    font-size: 10vh;
}

.infos {
    background: linear-gradient(180deg, rgba(48,34,94,1) 0%, rgb(22, 19, 33) 88%);
    padding: var(--contentLateral);
    padding-top: 3vh;
}


.pause {
    
    background-color: var(--greenSpo);
    fill: var(--primaryColor);
    border-radius: 180px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}
.description {
    padding: var(--contentSpace);
    text-transform: uppercase;
    font-family: Gotham-light;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgb(179, 179, 179,0.2);
}

.descriptionMusic {
    background: linear-gradient(180deg, rgb(22, 19, 33) 0%, rgba(18,18,18,1) 100%);
}
.last {
    display: flex;
    justify-content: space-between;
}
.box {display: flex; align-items: center;}
.item {
    padding: 2vh 0;
    fill: var(--greenSpo);
}
.line {
    padding-right: 8vh;
    padding-left: 8vh;
    color: var(--fontColor);
    display: grid;
    font-family: Gotham-light;
    grid-template-columns: 1.5fr 1fr 1fr;
}
.like {
    display: flex;
}

.logoMusic {
    margin: 0 2vh;
}
.artistMusic {
    color: var(--fontColor);
    font-family: Gotham-light;
}
.numberMusic {
    color: var(--fontColor)!important;
}
.titleMusic,.numberMusic {
    font-family: Gotham;
    color: var(--secundaryColor);
    font-size: 2.5vh;
}
